/* 页面配置 */
.container {
  width: 100%;
  height: 100%;
}
body, html {
  margin: 0px;
  height: 100%;
  overflow: hidden; 
  background-color: #303030;
}
.row {
  height: 100%;
}
/* 导航栏 + 目录栏 */
.aside {
  height: 100%;
}
/* 左侧导航栏 */
.aside1 {
  /*background-color: #1f2c39;*/
  background-color: #1abc9c;
  /*background-image: url(/public/img/bg_grid.jpg);*/
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  /*box-shadow: inset -15px 0 20px -15px #77AEF4;*/
  overflow-y:scroll;
}
.aside1 > .nav > li > a {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  color: #fff;
  font-size: 15px;
  padding: 10px 10px;

}

.aside1> .nav > li > a:hover {
  color:#fff;
  background-color: #16a085;
}

.aside1 > .nav-pills>li.active>a ,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #fff;
  /*background-color: #fafaf6;*/
  /*background-image: url(/public/img/body_bg.jpg);*/
  background-color: #303030;
}

.avatar {
  width: 56px;
  /*height: 90px;*/
  border: 0px solid #fff;
}
.aside1_bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.aside1_bottom > .table {
  margin-bottom: 0px;
}
/* 中部目录栏 */
.aside2 {
  /*background-color: #fafaf6;*/
  /*background-image: url(/public/img/body_bg.jpg);*/

  background-color: #303030;
  height: 100%;
  border-right: 2px solid #303030;
  overflow-y: auto;
  font-color: #fff;
  margin-top: 10px;
}

/* 右侧内容栏 */
.aside3 {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y:scroll;
  /*background-image: url(/public/img/bg_lines1.jpg);*/
}
.aside3-title {
  background-color: #f5f5f5;
  /*background-image: url(/public/img/bg_grid.jpg);*/
  border-bottom: 1px solid #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: #303030;
}
.aside3-content {
/*  padding-left: 40px;
  padding-right: 40px;
*/  
  padding: 0 5% 0 5%;
  color: #656565;
  line-height: 1.42857143;
}
#content {
  font-size: 18px;
}
#content h2, h3 {
  line-height: 2;
}
blockquote p {
  font-size: 20px;
}
/* 其他配置 */
.center {
  text-align: center;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #303030;
}
/* 显示评论按钮 */
.show-commend {
  width: 100%;
  margin-bottom: 40px;
}

/*
  Pretty Table Styling
  CSS Tricks also has a nice writeup: http://css-tricks.com/feature-table-design/
  */
  
  table {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:70%;
    margin:5% auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
  
  th, td {padding:18px 28px 18px; text-align:center; }
  
  th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}
  
  td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
  
  tr.odd-row td {background:#f6f6f6;}
  
  td.first, th.first {text-align:left}
  
  td.last {border-right:none;}
  
  /*
  Background gradients are completely unnecessary but a neat effect.
  */
  
  td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
  }
  
  tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
  }
  
  th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
  }
  
  /*
  I know this is annoying, but we need additional styling so webkit will recognize rounded corners on background elements.
  Nice write up of this issue: http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius
  
  And, since we've applied the background colors to td/th element because of IE, Gecko browsers also need it.
  */
  
  tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
  }
  
  tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
  }
  
  tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
  }
  
  tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
  }