<script type="text/javascript" src="/public/js/vendor/jquery.js"></script>
<script type="text/javascript" src="/public/js/vendor/holder.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/vendor/jquery.pjax.js"></script>
<script src="/public/js/vendor/prettify/prettify.js"></script>
<script src="/public/js/vendor/ZeroClipboard.min.js"></script>
<script src="/public/js/vendor/anchor.min.js"></script>
<script src="/public/js/vendor/browser.js"></script>
<script src="/public/js/base.js"></script>