<script type="text/javascript" src="/public/js/vendor/jquery.js"></script>
<script type="text/javascript" src="/public/js/vendor/underscore-min.js"></script>
<script type="text/javascript" src="/public/js/vendor/holder.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/plugin-navbar-slide.js"></script>
<script src="/public/js/vendor/jquery.pjax.js"></script>
<script src="/public/js/vendor/prettify/prettify.js"></script>
<script src="/public/js/vendor/ZeroClipboard.min.js"></script>
<script src="/public/js/vendor/jquery.particleground.min.js"></script>
<!-- <script src="/public/js/vendor/anchor.min.js"></script> -->
<script src="/public/js/base_0614.js"></script>
{% if page.script%}
  <script type="text/javascript" src="{{page.script}}"></script>
{% endif %}
<script src="https://cdn.bootcss.com/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>