<script src="/public/js/vendor/react.js"></script>
<script src="/public/js/vendor/react-dom.js"></script>
<script src="/public/js/vendor/browser.js"></script>

<script type="text/javascript" src="/public/js/vendor/jquery.js"></script>
<script type="text/javascript" src="/public/js/vendor/holder.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/vendor/jquery.pjax.js"></script>
<script src="/public/js/vendor/prettify/prettify.js"></script>
<script src="/public/js/vendor/ZeroClipboard.min.js"></script>
<script type="text/babel" src="/public/js/app.js"></script>