<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

{% if page.titlename %}
 <title>{{ page.titlename }} | {{ site.title }}</title>
 {% else %}
<title>{{ page.title }} | {{ site.title }}</title>
{% endif %}

<meta name="author" content="{{ page.author }}">
{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" href="{{ site.favicon }}">
<link rel="shortcut icon" href="{{ site.favicon }}" />

<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="/public/js/vendor/prettify/prettify.css">
<script src="/public/js/vendor/modernizr-2.8.3.min.js"></script>
<!--[if (lt IE 9) & (!IEMobile)]>
<script src="/public/js/vendor/respond.min.js"></script>
<![endif]-->