<!-- 在pc上默认不显示导航菜单 -->
<div class="col-md-4 col-lg-4 col-sm-13 col-xs-13 aside hidden-md hidden-lg hidden-sm hidden-xs">
  <div class="row">
    <!-- 总分类 -->
    <div class="col-md-2 col-xs-2 aside1">
      <br>
      <a class="pjaxlink" href="/"><img src="{{ site.gavatar }}" class="img-ronuded avatar" style="border-width:0px; border-color:#000"></a>
      <br><br>
      <!-- 关联aside2面板 -->
      <ul class="nav nav-pills nav-stacked">
        <!-- roadmap 路线图 -->
        <li><a href="#roadmap" data-toggle="tab">{{ site.locals.roadmap }}</a></li>
        <!-- 基础课 -->
        <li><a href="#basic" data-toggle="tab">{{ site.locals.basic }}</a></li>
        <!-- 进阶课 -->
        <li><a href="#advanced" data-toggle="tab">{{ site.locals.advanced }}</a></li>
        <!-- 项目课 -->
        <li><a href="#project" data-toggle="tab">{{ site.locals.project }}</a></li>
        <!-- 前言 -->
        <li><a href="#frontiers" data-toggle="tab">{{ site.locals.frontiers }}</a></li>
        <!-- interview -->
        <li><a href="#interview" data-toggle="tab">{{ site.locals.interview }}</a></li>

        <!-- 标签 -->
        <li><a href="#tags" data-toggle="tab">{{ site.locals.tags }}</a></li>  
        <!-- 归档 -->
        <li><a class="pjaxlink" href="/pages/archive.html">{{ site.locals.archive }}</a></li>
        <!-- 关于 -->
        <li><a class="pjaxlink" href="/pages/about.html">{{ site.locals.about }}</a></li>  
      </ul>
    </div>  

    <div class="col-md-10 col-xs-10 aside2">
      <div class="row">
        <div class="tab-content"> 
          <!-- roadmap  -->
          <div class="tab-pane" id="roadmap">
            <div class="list-group">
              {% for post in site.categories.roadmap %}
                <a href="{{ post.url }}" class="list-group-item-lay pjaxlink tab_href">{{post.title}}</a>
              {% endfor %}
            </div>
          </div> 
          <!-- basic begin  -->
          <div class="tab-pane" id="basic">
            <div class="panel-group" id="accordion_basic">
              {% for cate2 in site.cates_basic %} 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion_basic" href="#{{ cate2 }}">{{ cate2 }}</a>
                      <span class="badge pull-right">{{ site.categories[cate2].size }}</span>
                    </h4>
                  </div>
                  <div id="{{ cate2 }}" class="panel-collapse collapse">
                    {% for post in site.categories[cate2] reversed%}
                      <a  href='{{ post.url }}' class="list-group-item pjaxlink box_href">
                        {{post.title}}
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <!-- basic end -->
          <!-- advanced begin  -->
          <div class="tab-pane" id="advanced">
            <div class="panel-group" id="accordion_advanced">
              {% for cate2 in site.cates_advanced %} 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion_advanced" href="#{{ cate2 }}">{{ cate2 }}</a>
                      <span class="badge pull-right">{{ site.categories[cate2].size }}</span>
                    </h4>
                  </div>
                  <div id="{{ cate2 }}" class="panel-collapse collapse">
                    {% for post in site.categories[cate2] reversed %}
                      <a  href='{{ post.url }}' class="list-group-item pjaxlink box_href">
                        {{post.title}}
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <!-- advanced end -->
          <!-- project begin  -->
          <div class="tab-pane" id="project">
            <div class="panel-group" id="accordion_project">
              {% for cate2 in site.cates_project %} 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion_project" href="#{{ cate2 }}">{{ cate2 }}</a>
                      <span class="badge pull-right">{{ site.categories[cate2].size }}</span>
                    </h4>
                  </div>
                  <div id="{{ cate2 }}" class="panel-collapse collapse">
                    {% for post in site.categories[cate2] reversed %}
                      <a  href='{{ post.url }}' class="list-group-item pjaxlink box_href">
                        {{post.title}}
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <!-- project end -->
          <!-- frontiers begin  -->
          <div class="tab-pane" id="frontiers">
            <div class="panel-group" id="accordion_frontiers">
              {% for cate2 in site.cates_frontiers %} 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion_frontiers" href="#{{ cate2 }}">{{ cate2 }}</a>
                      <span class="badge pull-right">{{ site.categories[cate2].size }}</span>
                    </h4>
                  </div>
                  <div id="{{ cate2 }}" class="panel-collapse collapse">
                    {% for post in site.categories[cate2] reversed%}
                      <a  href='{{ post.url }}' class="list-group-item pjaxlink box_href">
                        {{post.title}}
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <!-- frontiers end -->
          <!-- 面试  begin-->
          <div class="tab-pane" id="interview">
            <div class="panel-group" id="accordion_interview">
              {% for cate2 in site.cates_interview %} 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion_interview" href="#{{ cate2 }}">{{ cate2 }}</a>
                      <span class="badge pull-right">{{ site.categories[cate2].size }}</span>
                    </h4>
                  </div>
                  <div id="{{ cate2 }}" class="panel-collapse collapse">
                    {% for post in site.categories[cate2] reversed%}
                      <a  href='{{ post.url }}' class="list-group-item pjaxlink box_href">
                        {{post.title}}
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div> 
          <!-- 面试  end-->
          <!-- tags begin  -->
          <div class="tab-pane" id="tags">
            <div class="panel-group" id="accordion_tags">
              {% for tag in site.tags %} 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion_tags" href="#{{ tag[0] }}">{{ tag[0] }}</a>
                      <span class="badge pull-right">{{ tag[1].size }}</span>
                    </h4>
                  </div>
                  <div id="{{ tag[0] }}" class="panel-collapse collapse">
                    {% for post in tag[1] reversed%}
                      <a  href='{{ post.url }}' class="list-group-item pjaxlink box_href">
                        {{post.title}}
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <!-- tags end -->
        </div>
      </div>
    </div>
    <!-- aside2 end -->
  </div>
</div>
<!-- aside end -->