---
layout: page
title: <img src="/public/img/courses/front-end.jpg"></i>
titlename: 前端
scrolltop: true
---
  <h1>ES6系列教程</h1>
  <p class="bg-warning">
  2015年发生了一件大事，就是JavaScript的新标准（ES2015/ES6）发布了，未来的js代码都会按新标准书写！一定要学！定要学！要学！follow me……
  </p>
  <ul class="list-unstyled">
{% for post in site.categories["es6"]  reversed%}
    <li>
      <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
  </ul>
  
  <h1>前端工程化解决方案</h1>
  <ul class="list-unstyled">
{% for post in site.categories["front-prj"]  reversed%}
    <li>
      <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
  </ul>

  <h1>异构</h1>
  <ul class="list-unstyled">
{% for post in site.categories["heter"]  reversed%}
    <li>
      <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
  </ul>

  <h1>编程规范与建议</h1>
  <ul class="list-unstyled">
{% for post in site.categories["front-standard"]  reversed%}
    <li>
      <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
  </ul>  

  <h1>react系列教程</h1>
  <ul class="list-unstyled">
{% for post in site.categories["react"]  reversed%}
    <li>
      <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
  </ul> 
