<!doctype html>
<html>
<head>
  {% include header.html %}
</head>
<body>
<!--[if lt IE 8]>
  <p class="browserupgrade">您正在使用<strong>过时的</strong> 浏览器。 请 <a href="http://browsehappy.com/">升级</a> 以提升你的体验。</p>
<![endif]-->
{% include navbar.html %}

  <main role="main">
    <div class="container">
      <div class="row">
         <!-- include navside.html  -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 aside3">
          <div id="container">
            <div id="pjax">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer role="contentinfo">
    <p><small>版权所有&copy;蓝桥软件学院</small></p>
  </footer>  
  
  {% include footer.html %}
  {% include baidu.html %}
</body>
</html>