<!doctype html>
<html>
<head>
  {% include header.html %}
</head>
<body>
<!--[if lt IE 8]>
  <p class="browserupgrade">您正在使用<strong>过时的</strong> 浏览器。 请 <a href="http://browsehappy.com/">升级</a> 以提升你的体验。</p>
<![endif]-->

  <header role="bannner">
  {% include navbar.html %}
  </header>
  <main role="main">
    <!--
    <div class="container">
       <div class="row">
        <div class="col-md-12 aside3">
          <div id="container"> -->
            <div id="pjax">
              {{ content }}
            </div>
          <!-- </div>
        </div>
      </div> 
    </div>
  -->
  </main>

  <footer role="contentinfo">
    <hr>
    <p class="text-center"><small>版权所有&copy;蓝桥软件学院</small></p>
    <ul class="social list-unstyled" >
      <li>
        <a href="mailto:{{ site.author.email }}">
          <span class="icon fa fa-envelope"></span>
        </a>
      </li>
      <li>
        <a href="https://coding.net/u/lanqiao" target="_blank">
          <span class="icon fa fa-github-alt"></span>
        </a>
      </li>
    </ul>
    <div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
      <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="文章标题 日期 标签" >

      <div style="position: fixed; top: 16px; right: 16px;">
          <img src="/search/img/cb-close.png"  id="cb-close-btn"/>
      </div>
    </div>

    <div style="position: fixed; right: 16px; bottom: 20px;">
        <img src="/search/img/cb-search.png"  id="cb-search-btn"  title="双击ctrl试一下"/>
    </div>

    <link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">

  </footer>  
  
  {% include footer.html %}
  {% include baidu.html %}
</body>
</html>