---
layout: base
desc: 单页的布局模板，适用于列表型的页面，如归档
---

<!-- 标题 -->
{% if page.title%}
<div class="container doc-title">
	<h2 class="identifier">{{ page.title }}</h2>
</div>
{% endif %}

<div class="container doc-container" style="margin-top: -20px;width:70%">
	<div class="row">
		<div class="doc-content">
			<div id="page-content" >
				{{ content }}
			</div>
			<!-- <hr> -->
		</div>
	</div>
</div>

<!-- 回到顶部按钮 -->
<div class="func-btns-container" style="left: 85%">
	<a href="javascript:void(0);" class=" btn btn-default btn-primary scrolltop-btn"><span aria-hidden="true">&#8593; </span>
	</a>
</div><!-- scrolltop-container -->
