---
layout: base
desc: 单篇文章的布局模板
---

<script>
  {% capture cate %}{{ page.categories |escape }}{% endcapture%}
  {% if page.p_cate %}
  {% capture coursePage %}"/pages/courses/{{page.p_cate}}.html"{% endcapture%}
  {% else %}
  {% capture coursePage %}"/pages/courses/{{cate}}.html"{% endcapture%}
  {% endif %}

  {% for post in site.categories[cate]  reversed%}
  {% if post.title == page.title %}
  {% assign index = forloop.index0 %}
  {% break %}
  {% endif %}
  {% endfor %}
  {% assign index_pre = index |minus:1 %}
  {% assign index_next = index |plus:1 %}
  {% for post in site.categories[cate]  reversed%}
  {% if forloop.index0 == index_pre %}
  {% assign preUrl = post.url %}
  {% assign preTitle = post.title %}
  {% endif %}
  {% if forloop.index0 == index_next %}
  {% assign nextUrl = post.url %}
  {% assign nextTitle = post.title %}
  {% break %}
  {% endif %}
  {% endfor %}

  // console.log('{{index}}','{{cate}}','{{coursePage}}','{{preUrl}}','{{nextUrl}}');
</script>


<div class="container doc-title">
  <h2 class="identifier">{{ page.title }}</h2>
  {{ page.date | date:"%Y年%m月%d日" }} &nbsp;&nbsp;&nbsp;&nbsp;{{ page.author }}
</div>

<hr style="margin-top: -20px;">
<div class="container doc-container">
  <div class="row">
    <div class="col-md-9 doc-content">
      <div id="content" >
        {{ content }}
      </div>
      <!-- <hr> -->
      <!-- {% include duoshuo.html %} -->
    </div>
    <!-- 右侧文章目录 和相关按钮-->
    <div class="col-md-3 doc-side-container collapse" id="sidebar">
      <nav class="doc-sidebar hidden-print affix-top">
        <ul class="nav nav-pills nav-stacked">
        </ul>
      </nav>
      
    </div>
</div>
</div>

<!-- 回到顶部按钮 -->
<div class="func-btns-container">
  <!-- <button class="btn btn-primary sidebar-toggle collapsed"
  data-toggle="collapse" data-target="#sidebar">
  <i class="icon iconfont icon-shouqi"></i>
</button> -->
<!-- 上一篇 -->
{% if preUrl != null %}
<a class="btn btn-default btn-primary btn-pre pjaxlink " href="{{preUrl}}">
<span aria-hidden="true">&larr;</span> 
</a>
{% endif %}

<a class="btn btn-default btn-primary btn-course pjaxlink" href={{coursePage}}>
  <i class="icon fa fa-book"></i>
</a>
{% if nextUrl != null %}
<a class="btn btn-default btn-primary btn-next pjaxlink " href="{{nextUrl}}">
<span aria-hidden="true">&rarr;</span>
</a>
{% endif %}


<a href="javascript:void(0);" class=" btn btn-default btn-primary scrolltop-btn">
<span aria-hidden="true">&#8593; </span>
</a>
</div><!-- func-btns-container -->