---
layout: base
desc: 单篇文章的布局模板
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }} &nbsp;&nbsp;&nbsp;&nbsp;{{ page.author }}
  </div>
  <div class="col-md-12 aside3-content">
    <hr>
    <div id="content" >
      {{ content }}
    </div>
    <hr>
    {% include duoshuo.html %}
  </div>
</div>

<!-- 文章的目录 -->
<div id="content_table" style="position:fixed;right:60px;top:90px;display:none;">
  <div class="panel panel-success">
    <div class="panel-body" id="nav"></div>
  </div>
</div>
<!-- 展示文章目录的按钮 -->
<div style="position:fixed;right:15px;top:70px;">
  <button id="content_btn" class="btn btn-primary" style="width:43px; height:34px;">
    <i class="icon fa fa-lg fa-plus"></i>
  </button>
</div>

<!-- 回到顶部的按钮 -->
<div style="position:fixed;right:15px;top:110px;">
  <button id="scrolltop_btn" class="btn btn-primary" style="width:43px; height:34px;">
    <i class="icon fa fa-lg fa-angle-double-up"></i>
  </button>
</div>